In [1]:
import numpy as np
import pandas as pd
import scipy
import operator
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle
from matplotlib.colors import ListedColormap
from sklearn import neighbors, datasets, tree
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss

%matplotlib inline
# Make it pretty
plt.style.use('ggplot')

In [4]:
churn_df = pd.read_csv('data/churn.csv')

In [5]:
churn_df

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
0,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,2014-01-25,15.4,4,True,46.2
1,8.26,5.0,5.0,1.00,Astapor,2014-05-05,Android,2014-01-29,0.0,0,False,50.0
2,0.77,5.0,4.3,1.00,Astapor,2014-01-07,iPhone,2014-01-06,0.0,3,False,100.0
3,2.36,4.9,4.6,1.14,King's Landing,2014-06-29,iPhone,2014-01-10,20.0,9,True,80.0
4,3.13,4.9,4.4,1.19,Winterfell,2014-03-15,Android,2014-01-27,11.8,14,False,82.4
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,5.63,4.2,5.0,1.00,King's Landing,2014-06-05,iPhone,2014-01-25,0.0,0,False,100.0
49996,0.00,4.0,NaN,1.00,Astapor,2014-01-25,iPhone,2014-01-24,0.0,1,False,0.0
49997,3.86,5.0,5.0,1.00,Winterfell,2014-05-22,Android,2014-01-31,0.0,0,True,100.0
49998,4.58,3.5,3.0,1.00,Astapor,2014-01-15,iPhone,2014-01-14,0.0,2,False,100.0
49999,3.49,5.0,NaN,1.00,Astapor,2014-04-20,Android,2014-01-18,0.0,0,False,0.0

In [ ]:
def func(csvfile):
    '''
    INPUT: csv file
    
    -convert trip date to dt object
    -drop nan rows
    -Pull out y column
    
    '''
    return X,y

# Last trip date > datetime object
# convert to bool for users who took a trip since 2014-06-01

In [18]:
churn_df[churn_df['avg_rating_of_driver'].isna()].describe()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,surge_pct,trips_in_first_30_days,weekday_pct
count,8122.000000,8055.000000,0.0,8122.000000,8122.000000,8122.000000,8122.000000
mean,7.506267,4.785984,NaN,1.078210,8.548067,0.593327,59.050948
std,7.758616,0.622122,NaN,0.310306,26.578461,0.606755,46.859739
min,0.000000,1.000000,NaN,1.000000,0.000000,0.000000,0.000000
25%,2.410000,5.000000,NaN,1.000000,0.000000,0.000000,0.000000
50%,4.715000,5.000000,NaN,1.000000,0.000000,1.000000,100.000000
75%,10.720000,5.000000,NaN,1.000000,0.000000,1.000000,100.000000
max,160.960000,5.000000,NaN,5.000000,100.000000,5.000000,100.000000

In [19]:
churn_df.describe()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,surge_pct,trips_in_first_30_days,weekday_pct
count,50000.000000,49799.000000,41878.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,5.796827,4.778158,4.601559,1.074764,8.849536,2.278200,60.926084
std,5.707357,0.446652,0.617338,0.222336,19.958811,3.792684,37.081503
min,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,2.420000,4.700000,4.300000,1.000000,0.000000,0.000000,33.300000
50%,3.880000,5.000000,4.900000,1.000000,0.000000,1.000000,66.700000
75%,6.940000,5.000000,5.000000,1.050000,8.600000,3.000000,100.000000
max,160.960000,5.000000,5.000000,8.000000,100.000000,125.000000,100.000000

In [9]:
train_df = pd.read_csv('data/churn_train.csv')
test_df = pd.read_csv('data/churn_test.csv')

In [10]:
train_df

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
0,6.94,5.0,5.0,1.00,Astapor,2014-05-03,Android,2014-01-12,0.0,0,False,100.0
1,8.06,5.0,5.0,1.00,Astapor,2014-01-26,Android,2014-01-25,0.0,2,True,0.0
2,21.50,4.0,NaN,1.00,Winterfell,2014-05-21,iPhone,2014-01-02,0.0,1,True,100.0
3,9.46,5.0,NaN,2.75,Winterfell,2014-01-10,Android,2014-01-09,100.0,1,False,100.0
4,13.77,5.0,NaN,1.00,Winterfell,2014-05-13,iPhone,2014-01-31,0.0,0,False,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
39995,2.06,4.8,4.3,1.08,Winterfell,2014-04-02,Android,2014-01-26,9.5,8,False,90.5
39996,2.05,5.0,5.0,1.00,King's Landing,2014-05-09,iPhone,2014-01-08,0.0,2,False,85.7
39997,3.04,5.0,5.0,1.00,Winterfell,2014-06-24,Android,2014-01-04,0.0,3,True,33.3
39998,3.49,4.3,3.3,1.50,Astapor,2014-02-09,iPhone,2014-01-08,40.0,5,False,60.0
39999,4.25,4.7,5.0,1.00,Astapor,2014-06-27,iPhone,2014-01-18,0.0,2,True,42.9